<div id="<%= dom_id message %>">
    <td>Body:</td>
    <td><%= message.body %></td>
    <td><%= link_to "Show", message %></td>
    <td><%= button_to "Delete", message, method: :delete %></td>
    <td><%= button_to "Edit", edit_message_path(message), method: :post %></td>
</div>
