<div id="<%= dom_id person %>">
  <span class="hoverWrapper">
   <strong>Name:</strong>
    <%= person.name %>
    <div id="hoverContent">
      <%= turbo_frame_tag dom_id(person, :thumbnail), loading: :lazy, src: hovercard_person_path(person) do %>
    Loading..
  <% end %>
    </div>
  </span>
<details>
  <summary>
    <strong>Name:</strong>
    <%= person.name %>
  </summary>
  <%= turbo_frame_tag dom_id(person, :thumbnail), loading: :lazy, src: hovercard_person_path(person) do %>
    Loading..
  <% end %>
</details>
</div>
