<p style="color: green" id="notice"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= button_to "Edit", edit_post_path(post), data:{turbo_frame: "modal"} %> |
      <%= link_to "post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post",new_post_path, data:{turbo_frame: "modal"} %>
